.DS_Store
.next
.next-dev
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
playwright-report
test-results
*.tsbuildinfo
storage/*.sqlite
storage/*.sqlite-shm
storage/*.sqlite-wal
/dicom
